<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x mb-4">
  <!--                  style1-->
  <!--                  <li class="list-group-item">-->
  <!--                     <div class="d-flex align-items-center">-->
  <!--                        <div class="">-->
  <!--                           &lt;!&ndash; Image &ndash;&gt;-->
  <!--                           <a href="product.html"><img src="/static/assets/shop/img/product/7.jpg" alt="..."-->
  <!--                                                       class="img-fluid" style="width: 80px"></a>-->
  <!--                        </div>-->
  <!--                        <div class="col d-flex align-items-center justify-content-between">-->
  <!--                           <div class="row">-->
  <!--                              <div class="col-xl-6 col-md-12 align-items-center justify-content-between">-->
  <!--                                 <div class="cart_single_caption pl-2">-->
  <!--                                    <h4 class="product_title fs-md ft-medium mb-1 lh-1">Áo Polo Nữ Mắt Chim In Thuyền-->
  <!--                                       Phối Màu</h4>-->
  <!--                                    <p class="mb-1 lh-1"><span class="text-dark">Size: 36</span></p>-->
  <!--                                    <p class="mb-3 lh-1"><span class="text-dark">Color: Red</span></p>-->
  <!--                                 </div>-->
  <!--                              </div>-->
  <!--                              <div class="d-flex align-items-center justify-content-between" style="-->
  <!--    padding-left: 15px;-->
  <!--">-->
  <!--                                 <div style="margin: 8px">-->
  <!--                                    <h4 class="fs-md ft-medium m-0 lh-1">129000<sup>₫</sup></h4>-->
  <!--                                 </div>-->
  <!--                                 <div>-->
  <!--                                    <div class="input-group input-group-sm">-->
  <!--                                       <button class="btn btn-outline-main1 rounded-left minus" type="button">-->
  <!--                                          &lt;!&ndash;                                    <i class="fi fi-rr-minus"></i>&ndash;&gt;-->
  <!--                                          <i class="fi fi-rr-minus-small"></i>-->
  <!--                                       </button>-->
  <!--                                       <input type="text" class="form-control quantity text-center" value="1">-->
  <!--                                       <button class="btn btn-outline-main1 rounded-right add" type="button">-->
  <!--                                          &lt;!&ndash;                                    <i class="fi fi-rr-plus"></i>&ndash;&gt;-->
  <!--                                          <i class="fi fi-rr-plus-small"></i>-->
  <!--                                       </button>-->
  <!--                                    </div>-->
  <!--                                 </div>-->
  <!--                                 <div style="margin: 8px">-->
  <!--                                    <h4 class="fs-md text-danger ft-medium m-0 lh-1">129000<sup>₫</sup></h4>-->
  <!--                                 </div>-->
  <!--                                 <div class="fls_last">-->
  <!--                                    &lt;!&ndash;                              <button class="close_slide gray"><i class="ti-close"></i></button>&ndash;&gt;-->
  <!--                                    <a href="#" class="remove-product"><i class="fi fi-rr-trash"-->
  <!--                                                                          style="font-size: 16px"></i></a>-->
  <!--                                 </div>-->
  <!--                              </div>-->
  <!--                           </div>-->

  <!--                        </div>-->

  <!--                     </div>-->
  <!--                  </li>-->
  <!--                  style2-->
  <!--                  <li class="list-group-item">-->
  <!--                     <div class="d-flex align-items-center">-->
  <!--                        <div class="col-3">-->
  <!--                           &lt;!&ndash; Image &ndash;&gt;-->
  <!--                           <a href="product.html"><img th:src="@{~/static/assets/shop/img/product/7.jpg}" alt="..."-->
  <!--                                                       class="img-fluid" style="width: 80px"></a>-->
  <!--                        </div>-->
  <!--                        <div class="col d-flex align-items-center justify-content-between">-->
  <!--                           <div class="row">-->
  <!--                              <div class="col d-flex align-items-center justify-content-between">-->
  <!--                                 <div class="cart_single_caption pl-2">-->
  <!--                                    <h4 class="product_title fs-md ft-medium mb-1 lh-1">Áo Polo Nữ Mắt Chim In Thuyền-->
  <!--                                       Phối Màu</h4>-->
  <!--                                    <p class="mb-1 lh-1"><span class="text-dark">Size: 36</span></p>-->
  <!--                                    <p class="mb-3 lh-1"><span class="text-dark">Color: Red</span></p>-->
  <!--                                 </div>-->
  <!--                              </div>-->
  <!--                              <div class="col d-flex align-items-center justify-content-between">-->
  <!--                                 <div style="margin: 8px">-->
  <!--                                    <h4 class="fs-md ft-medium m-0 lh-1">129000<sup>₫</sup></h4>-->
  <!--                                 </div>-->
  <!--                                 <div>-->
  <!--                                    <div class="input-group input-group-sm">-->
  <!--                                       <button class="btn btn-outline-main1 rounded-left minus" type="button">-->
  <!--                                          &lt;!&ndash;                                    <i class="fi fi-rr-minus"></i>&ndash;&gt;-->
  <!--                                          <i class="fi fi-rr-minus-small"></i>-->
  <!--                                       </button>-->
  <!--                                       <input type="text" class="form-control quantity text-center" value="1">-->
  <!--                                       <button class="btn btn-outline-main1 rounded-right add" type="button">-->
  <!--                                          &lt;!&ndash;                                    <i class="fi fi-rr-plus"></i>&ndash;&gt;-->
  <!--                                          <i class="fi fi-rr-plus-small"></i>-->
  <!--                                       </button>-->
  <!--                                    </div>-->
  <!--                                 </div>-->
  <!--                                 <div style="margin: 8px">-->
  <!--                                    <h4 class="fs-md text-danger ft-medium m-0 lh-1">129000<sup>₫</sup></h4>-->
  <!--                                 </div>-->
  <!--                              </div>-->
  <!--                           </div>-->
  <!--                           <div class="fls_last">-->
  <!--                              &lt;!&ndash;                              <button class="close_slide gray"><i class="ti-close"></i></button>&ndash;&gt;-->
  <!--                              <a href="#" class="remove-product"><i class="fi fi-rr-trash" style="font-size: 16px"></i></a>-->
  <!--                           </div>-->
  <!--                        </div>-->

  <!--                     </div>-->
  <!--                  </li>-->
  <!--                  style3-->
  <li class="list-group-item">
    <div class="row align-items-center">
      <div class="col-3">
        <!-- Image -->
        <a href="product.html"><img th:src="@{~/static/assets/shop/img/product/7.jpg}" alt="..."
                                    class="img-fluid"></a>
      </div>
      <div class="col d-flex align-items-center justify-content-between">
        <div class="cart_single_caption pl-2">
          <h4 class="product_title fs-md ft-medium mb-1 lh-1">Áo Polo Nữ Mắt Chim In Thuyền Phối
            Màu</h4>
          <p class="mb-1 lh-1"><span class="text-dark">Size: 36</span></p>
          <p class="mb-3 lh-1"><span class="text-dark">Color: Red</span></p>
        </div>
        <div style="margin: 8px">
          <h4 class="fs-md ft-medium m-0 lh-1">129000<sup>₫</sup></h4>
        </div>
        <div>
          <div class="input-group input-group-sm">
            <button class="btn btn-outline-main1 rounded-left minus" type="button">
              <!--                                    <i class="fi fi-rr-minus"></i>-->
              <i class="fi fi-rr-minus-small"></i>
            </button>
            <input type="text" class="form-control quantity text-center" value="1">
            <button class="btn btn-outline-main1 rounded-right add" type="button">
              <!--                                    <i class="fi fi-rr-plus"></i>-->
              <i class="fi fi-rr-plus-small"></i>
            </button>
          </div>
        </div>
        <div style="margin: 8px">
          <h4 class="fs-md text-danger ft-medium m-0 lh-1">129000<sup>₫</sup></h4>
        </div>
        <div class="fls_last">
          <!--                              <button class="close_slide gray"><i class="ti-close"></i></button>-->
          <a href="#" class="remove-product"><i class="fi fi-rr-trash" style="font-size: 16px"></i></a>
        </div>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row align-items-center">
      <div class="col-3">
        <!-- Image -->
        <a href="product.html"><img th:src="@{~/static/assets/shop/img/product/7.jpg}" alt="..."
                                    class="img-fluid"></a>
      </div>
      <div class="col d-flex align-items-center justify-content-between">
        <div class="cart_single_caption pl-2">
          <h4 class="product_title fs-md ft-medium mb-1 lh-1">Áo Polo Nữ Mắt Chim In Thuyền Phối
            Màu</h4>
          <p class="mb-1 lh-1"><span class="text-dark">Size: 36</span></p>
          <p class="mb-3 lh-1"><span class="text-dark">Color: Red</span></p>
        </div>
        <div style="margin: 8px">
          <h4 class="fs-md ft-medium m-0 lh-1">129000<sup>₫</sup></h4>
        </div>
        <div>
          <div class="input-group input-group-sm">
            <button class="btn btn-outline-main1 rounded-left minus" type="button">
              <!--                                    <i class="fi fi-rr-minus"></i>-->
              <i class="fi fi-rr-minus-small"></i>
            </button>
            <input type="text" class="form-control quantity text-center" value="1">
            <button class="btn btn-outline-main1 rounded-right add" type="button">
              <!--                                    <i class="fi fi-rr-plus"></i>-->
              <i class="fi fi-rr-plus-small"></i>
            </button>
          </div>
        </div>
        <div style="margin: 8px">
          <h4 class="fs-md text-danger ft-medium m-0 lh-1">129000<sup>₫</sup></h4>
        </div>
        <div class="fls_last">
          <!--                              <button class="close_slide gray"><i class="ti-close"></i></button>-->
          <a href="#" class="remove-product"><i class="fi fi-rr-trash" style="font-size: 16px"></i></a>
        </div>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row align-items-center">
      <div class="col-3">
        <!-- Image -->
        <a href="product.html"><img th:src="@{~/static/assets/shop/img/product/7.jpg}" alt="..."
                                    class="img-fluid"></a>
      </div>
      <div class="col d-flex align-items-center justify-content-between">
        <div class="cart_single_caption pl-2">
          <h4 class="product_title fs-md ft-medium mb-1 lh-1">Áo Polo Nữ Mắt Chim In Thuyền Phối
            Màu</h4>
          <p class="mb-1 lh-1"><span class="text-dark">Size: 36</span></p>
          <p class="mb-3 lh-1"><span class="text-dark">Color: Red</span></p>
        </div>
        <div style="margin: 8px">
          <h4 class="fs-md ft-medium m-0 lh-1 price">129000<sup>₫</sup></h4>
        </div>
        <div>
          <div class="input-group input-group-sm">
            <button class="btn btn-outline-main1 rounded-left minus" type="button">
              <!--                                    <i class="fi fi-rr-minus"></i>-->
              <i class="fi fi-rr-minus-small"></i>
            </button>
            <input type="text" class="form-control quantity text-center" value="1">
            <button class="btn btn-outline-main1 rounded-right add" type="button">
              <!--                                    <i class="fi fi-rr-plus"></i>-->
              <i class="fi fi-rr-plus-small"></i>
            </button>
          </div>
        </div>
        <div style="margin: 8px">
          <h4 class="fs-md text-danger ft-medium m-0 lh-1 sub-total-price">129000<sup>₫</sup></h4>
        </div>
        <div class="fls_last">
          <!--                              <button class="close_slide gray"><i class="ti-close"></i></button>-->
          <a href="#" class="remove-product"><i class="fi fi-rr-trash" style="font-size: 16px"></i></a>
        </div>
      </div>
    </div>
  </li>

</ul>