<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- ============================ Footer Start ================================== -->
<footer class="dark-footer skin-dark-footer style-2" th:fragment="footer">
   <div class="footer-middle">
      <div class="container">
         <!--         <div class="row">-->
         <div class="row justify-content-center">

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
               <div class="footer_widget">
<!--                  <img th:src="@{~/static/assets/shop/img/logo_Xshop4.png}" class="img-footer small mb-2" alt=""/>-->

                  <div class="address mt-3">
                     3298 Grant Street Longview, Hà Nội<br>Việt Nam
<!--                     3298 Grant Street Longview, TX<br>United Kingdom 75601-->
                  </div>
                  <div class="address mt-3">
                     help@SD12.com
<!--                     1-202-555-0106<br>help@shopper.com-->
                  </div>
                  <!-- Social network -->
                  <!--                  <div class="address mt-3">-->
                  <!--                     <ul class="list-inline">-->
                  <!--                        <li class="list-inline-item"><a href="#"><i class="lni lni-facebook-filled"></i></a></li>-->
                  <!--                        <li class="list-inline-item"><a href="#"><i class="lni lni-twitter-filled"></i></a></li>-->
                  <!--                        <li class="list-inline-item"><a href="#"><i class="lni lni-youtube"></i></a></li>-->
                  <!--                        <li class="list-inline-item"><a href="#"><i class="lni lni-instagram-filled"></i></a></li>-->
                  <!--                        <li class="list-inline-item"><a href="#"><i class="lni lni-linkedin-original"></i></a>-->
                  <!--                        </li>-->
                  <!--                     </ul>-->
                  <!--                  </div>-->
               </div>
            </div>

            <!--            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">-->
            <!--               <div class="footer_widget">-->
            <!--                  <h4 class="widget_title">Supports</h4>-->
            <!--                  <ul class="footer-menu">-->
            <!--                     <li><a href="#">Contact Us</a></li>-->
            <!--                     <li><a href="#">About Page</a></li>-->
            <!--                     <li><a href="#">Size Guide</a></li>-->
            <!--                     <li><a href="#">Shipping & Returns</a></li>-->
            <!--                     <li><a href="#">FAQ's Page</a></li>-->
            <!--                     <li><a href="#">Privacy</a></li>-->
            <!--                  </ul>-->
            <!--               </div>-->
            <!--            </div>-->

            <!--            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">-->
            <!--               <div class="footer_widget">-->
            <!--                  <h4 class="widget_title">Shop</h4>-->
            <!--                  <ul class="footer-menu">-->
            <!--                     <li><a href="#">Men's Shopping</a></li>-->
            <!--                     <li><a href="#">Women's Shopping</a></li>-->
            <!--                     <li><a href="#">Kids's Shopping</a></li>-->
            <!--                     <li><a href="#">Furniture</a></li>-->
            <!--                     <li><a href="#">Discounts</a></li>-->
            <!--                  </ul>-->
            <!--               </div>-->
            <!--            </div>-->

            <!--            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">-->
            <!--               <div class="footer_widget">-->
            <!--                  <h4 class="widget_title">Company</h4>-->
            <!--                  <ul class="footer-menu">-->
            <!--                     <li><a href="#">About</a></li>-->
            <!--                     <li><a href="#">Blog</a></li>-->
            <!--                     <li><a href="#">Affiliate</a></li>-->
            <!--                     <li><a href="#">Login</a></li>-->
            <!--                  </ul>-->
            <!--               </div>-->
            <!--            </div>-->

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
               <div class="footer_widget">
                  <h4 class="widget_title">
                     Đăng ký
<!--                     Subscribe-->
                  </h4>
                  <p>
                     Nhận thông tin cập nhật, ưu đãi hấp dẫn, giảm giá được gửi thẳng vào hộp thư đến của bạn
<!--                     Receive updates, hot deals, discounts sent straignt in your inbox daily-->
                  </p>
                  <div class="foot-news-last">
                     <div class="input-group">
                        <input type="text" class="form-control rounded-left" placeholder="Email Address">
                        <div class="input-group-append">
                           <button type="button" class="input-group-text b-0 text-light rounded-right">
                              <i class="fi fi-rr-paper-plane" style="font-size: 16px"></i>
                           </button>
                        </div>
                     </div>
                  </div>
                  <!--                  <div class="address mt-3">-->
                  <!--                     <h5 class="fs-sm text-light">Secure Payments</h5>-->
                  <!--                     <div class="scr_payment"><img th:src="@{static/assets/img/card.png}" class="img-fluid" alt="" /></div>-->
                  <!--                  </div>-->
               </div>
            </div>

         </div>
      </div>
   </div>

   <div class="footer-bottom">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 text-center">
               <!--               <p class="mb-0">© 2021 Kumo. Designd By <a href="https://themezhub.com">ThemezHub</a>.</p>-->
               <p class="mb-0">&copy; 2023 SD12. All rights reserved.</p>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- ============================ Footer End ================================== -->
</html>