<html>
<!-- Single Item -->
<div class="col-xl-3 col-lg-4 col-md-6 col-6">
   <div class="product_grid card b-0">
      <div class="badge bg-success text-white position-absolute ft-regular ab-left text-upper">Sale</div>
      <button class="snackbar-wishlist btn btn_love position-absolute ab-right"><i class="far fa-heart"></i></button>
      <div class="card-body p-0">
         <div class="shop_thumb position-relative">
            <a class="card-img-top d-block overflow-hidden ovr-hide" href="shop-single-v1.html"><img
                  class="card-img-top" th:src="@{~/static/assets/img/product/7.jpg}" alt="..."></a>
            <a class="card-img-top d-block overflow-hidden ovr-show" href="shop-single-v1.html"><img
                  class="card-img-top" th:src="@{~/static/assets/img/product/7-a.jpg}" alt="..."></a>
            <div class="product-hover-overlay btn d-flex align-items-center justify-content-center">
               <div class="group_btn">
                  <div class="prd_btn_square" data-toggle="tooltip" data-placement="top" title="Quick view">
                     <a href="#" data-toggle="modal" data-target="#quickview">
                        <i class="fi fi-rr-expand" style="font-size: 16px"></i>
                     </a>
                  </div>
                  <!--                                 <a href="javascript:void(0);" class="prd_btn_square snackbar-wishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">-->
                  <!--                                    <i class="fi fi-rr-heart" style="font-size: 16px"></i>-->
                  <!--                                 </a>-->
                  <a href="javascript:void(0);" class="prd_btn_square snackbar-addcart" data-toggle="tooltip"
                     data-placement="top" title="Add To Cart">
                     <i class="fi fi-rr-shopping-cart-add" style="font-size: 16px"></i>
                  </a>
                  <!--                                 <a href="javascript:void(0);" class="prd_btn_square" data-toggle="tooltip" data-placement="top" title="Compare">-->
                  <!--                                    <i class="fi fi-rr-code-compare" style="font-size: 16px"></i>-->
                  <!--                                 </a>-->
               </div>
            </div>
         </div>
      </div>
      <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
         <div class="text-left">
            <div class="text-center">
               <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html">Beautiful Design Dress</a></h5>
               <div class="elis_rty"><span class="text-muted ft-medium line-through mr-2">$129.00</span><span
                     class="ft-bold theme-cl fs-md">$99.00</span></div>
            </div>
         </div>
      </div>
   </div>
</div>
</html>