<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Khách hàng </h4>
                <h6>View/Search Khách hàng</h6>
            </div>
                        <div class="page-btn">
                            <a th:href="@{/admin/khachhang/showadd}" class="btn btn-added">
                                <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Client
                            </a>
                        </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/filter.svg"
                                     alt="img">
                                <span><img
                                        src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/closes.svg"
                                        alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <form action="/search" method="get">

                            </form>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                   data-bs-original-title="pdf" aria-label="pdf"><img
                                        src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/pdf.svg"
                                        alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                   data-bs-original-title="excel" aria-label="excel"><img
                                        src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/excel.svg"
                                        alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                   data-bs-original-title="print" aria-label="print"><img
                                        src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/printer.svg"
                                        alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="select select2-hidden-accessible" data-select2-id="1" tabindex="-1"
                                            aria-hidden="true">
                                        <option data-select2-id="3">Choose Category</option>
                                        <option>Computers</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="select select2-hidden-accessible" data-select2-id="4" tabindex="-1"
                                            aria-hidden="true">
                                        <option data-select2-id="6">Choose Sub Category</option>
                                        <option>Fruits</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="select select2-hidden-accessible" data-select2-id="7" tabindex="-1"
                                            aria-hidden="true">
                                        <option data-select2-id="9">Choose Sub Brand</option>
                                        <option>Iphone</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                                <div class="form-group">
                                    <a class="btn btn-filters ms-auto"><img src="assets/img/icons/search-whites.svg"
                                                                            alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <table class="table datanew dataTable no-footer" id="DataTables_Table_0" role="grid"
                               aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Category Code: activate to sort column ascending"
                                    style="width: 172.212px;">Id
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Category Code: activate to sort column ascending"
                                    style="width: 172.212px;">Mã
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Category name: activate to sort column ascending"
                                    style="width: 187.363px;">Họ và Tên
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Category name: activate to sort column ascending"
                                    style="width: 187.363px;">Giới tính
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Action: activate to sort column ascending"
                                    style="width: 110.613px;">Ngày Sinh
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Category Code: activate to sort column ascending"
                                    style="width: 172.212px;">Email
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Action: activate to sort column ascending"
                                    style="width: 110.613px;">Số điện thoại
                                </th>

                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Action: activate to sort column ascending"
                                    style="width: 110.613px;">Mật Khẩu
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Action: activate to sort column ascending"
                                    style="width: 110.613px;">Trạng Thái
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                    colspan="1" aria-label="Action: activate to sort column ascending"
                                    style="width: 110.613px;">Action
                                </th>Action

                            </tr>
                            </thead>
                            <tbody>


                            <tr class="odd" th:each="khachHang : ${khachHangList}">
                                <td  th:text="${khachHang.id}"></td>
                                <td th:text="${khachHang.ma}"></td>
                                <td th:text="${khachHang.hoVaTen}"></td>
                                <td th:text="${khachHang.gioiTinh}"></td>
                                <td th:text="${khachHang.ngaySinh}"></td>
                                <td th:text="${khachHang.email}"></td>
                                <td th:text="${khachHang.SDT}"></td>
                                <td th:text="${khachHang.matKhau}"></td>
                                <td th:text="${khachHang.trangThai}"></td>

                                <td>
                                    <a class="me-3" th:href="@{'/admin/khachhang/updateForm/' + ${khachHang.id}}">
                                        <img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3" th:href="@{'/admin/khachhang/deleteClient/' + ${khachHang.id}}">
                                        <img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/edit.svg" alt="img">
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--                        <div class="dataTables_length" id="DataTables_Table_0_length"><label><select-->
                        <!--                                name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"-->
                        <!--                                class="custom-select custom-select-sm form-control form-control-sm">-->
                        <!--                            <option value="10">10</option>-->
                        <!--                            <option value="25">25</option>-->
                        <!--                            <option value="50">50</option>-->
                        <!--                            <option value="100">100</option>-->
                        <!--                        </select></label></div>-->
                        <div class="dataTables_paginate paging_numbers" id="DataTables_Table_0_paginate">
                            <ul class="pagination">
                                <!--                                <li class="paginate_button page-item active"><a href="#"-->
                                <!--                                                                                aria-controls="DataTables_Table_0"-->
                                <!--                                                                                data-dt-idx="0" tabindex="0"-->
                                <!--                                                                                class="page-link">1</a></li>-->
                                <!--                                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"-->
                                <!--                                                                          data-dt-idx="1" tabindex="0"-->
                                <!--                                                                          class="page-link">2</a></li>-->
                            </ul>
                        </div>
                        <!--                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">1 - -->
                        <!--                            10 of 13 items-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>